

@import "~bootstrap/scss/bootstrap";

.body {
  color:rgb(54, 54, 54);
}

// Homepage
.hero-body {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/trail-running.png');
  background-size: cover;
  margin-bottom: 2rem;
}
.aims {
  text-align: center;
  padding: 10rem;
  
}

.logo-homepage {
  width: 70%;
  text-align: center; 
  margin-top: 10%; 
  margin: 0 auto;
  position: absolute;  
  left: 50%;            
  top: 50%;             
  transform: translate(-50%, -50%);
}

.jumbo-article{
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.jumbo-video{
  display: flex;
  justify-content:space-around;
  flex-direction: row-reverse;
  background-color: white;
}
.jumbo-recipe{
  display: flex;
  justify-content: space-around;
  background-color: white;

}
.jumbo-text{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bring-to-front {
  z-index: 6;
}
.jumbotron {
  background-color: white;
}
//Navbar
.logo {
  height: 40px;
}

a.nav-link {
  text-align: right;
}

// #basic-navbar-nav {
//   display: flex;
//   justify-content: space-between;
// }


// Main Page
.section {
  display: flex;
  flex-direction: column;
}
.article {
  display: flex;
  flex-direction: row;  
  overflow-y: hidden;
  overflow-x: scroll;
  width: 85vw;
  height: 55vh;
  margin-top: 5%;
  position: absolute;
  left: 22%;  
  top: 40%;             
}
.video {
  display: flex;
  flex-direction: row;  
  width: 85vw;
  height: 55vh;
  margin-top: 5%;
  position: absolute;
  left: 22%;            
  top: 100%; 
  overflow-y: hidden;
  overflow-x: scroll;
}
.recipe {
  display: flex;
  flex-direction: row;  
  overflow-y: hidden;
  overflow-x: scroll;
  width: 85vw;
  height: 55vh;
  margin-top: 5%;
  position: absolute;
  left: 22%;            
  top: 160%; 
}
.article-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 1px 0 white;
  padding-left: 0;
  margin-left: 6.5vw;
  margin-bottom: 2vh;
}


.video-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  box-shadow: 0 0 1px 0 white;
  padding-left: 0;
  margin-left: 6.5vw;
  margin-bottom: 2vh;
}
.recipe-container {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  box-shadow: 0 0 1px 0 white;
  padding-left: 0;
  margin-left: 6.5vw;
  margin-bottom: 2vh;
}

div.card-card {
  height: 45vh;
}

img.recipe-image {
  height: 45vh;
}


.menu-bar {
  position: relative;
  width: 20vw;
  height: 200vh;
  background-color: rgb(222, 223, 222);
  display: flex;
}

.main-hero {
  width: 100vw;
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('../images/about-iv-therapy-header-img-5e8f550203b03.jpg');
  background-size: cover;
  background-position: center bottom;

}

.logo-mainpage {
  width: 30%;
  text-align: center; 
  margin-top: 10%; 
  margin: 0 auto;
  position: absolute;  
  left: 50%;            
  top: 23%;             
  transform: translate(-50%, -50%);
}


.text-container {
  margin-top: 15%;
  margin-left: 20%;
  align-items: space-between;
}

.mini-logo {
  width: 45%;
  margin-left: 15%;
  padding-bottom: 10%;
  margin-bottom: 15%;
}

#nav-dropdown {
  margin-bottom: 15%;
}


// Article ShowPage

.article-hero-body {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/20170710193708-GettyImages-499778755.jpeg');
  background-size: cover;
  background-position: center;
  margin-bottom: 3%;
}

.article-logo-homepage {
  width: 50%;
  text-align: center; 
  margin-top: 10%; 
  margin: 0 auto;
  position: absolute;  
  left: 50%;            
  top: 33%;             
  transform: translate(-50%, -50%);
}

// .article-jt {
//   background-size: auto 100%;
// }

img.float-left-mr-2-mb-1 {
  margin-right: 10%;
}

// .article-jt-one {
//   background-size: auto 100%;
// }

.article-jt-one, .article-jt {
  margin-left: 10%;
  margin-right: 10%;
}

#p_wrap {
  white-space: pre-line;
}

div.media-body {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
  background-color: rgb(239, 245, 244);
  padding: 3%;
  color:rgb(54, 54, 54);
}
// Recipe Show 

.RecipeShow {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.Ingredients {
  padding-right: rem;
}
.card-img {
  size: 100%;
}
.R-show-format{
  display: flex;
}
.R-show-format2{
  display: flex;
}
#p-wrap {
  white-space: pre-line
}

// REGISTER PAGE

.register, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.register-section {
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 1px 0 white;
  border: solid white 2px;
  background: transparentize($color: grey, $amount: 0.7);
  font-weight: 600;
  position: absolute;  
  top: 50%;
}

.input {
  width: 100%;
}

.label {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  background-color: rgb(189, 202, 199);
  color: rgb(63, 61, 61);
}

.register-button {
  margin-top: 10px;
  width: 100%;
}

.input {
  font-size: 14px;
  font-style: oblique;
}

.is-danger {
  border: solid red 4px;
}


.register-hero-body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Exercise-weight-loss.jpeg');
  background-size: cover;
  background-position: center;
  margin-bottom: 3%;
}

.register-logo-homepage {
  width: 50%;
  text-align: center; 
  margin-top: 10%; 
  margin: 0 auto;
  position: absolute;  
  left: 50%;            
  top: 28%;             
  transform: translate(-50%, -50%);
}

// Video Showpage

#video {
 
  align-items: center;
  
}
.video-text {
  display: flex;
  align-items: flex-start;
}

